In [1]:
from subprocess import check_output

In [2]:
check_output(['ls','-l'])

'total 640\n-rw-rw-r-- 1 tcloudost tcloudost     60 May 20 11:59 a.py\n-rw-rw-r-- 1 tcloudost tcloudost      0 May  7 12:31 a.py~\n-rw-rw-r-- 1 tcloudost tcloudost    197 May  7 11:23 a.pyc\n-rw-rw-r-- 1 tcloudost tcloudost  72010 May 20 12:57 boolean expressions.ipynb\n-rw-rw-r-- 1 tcloudost tcloudost    409 May 20 12:30 b.py\n-rw-rw-r-- 1 tcloudost tcloudost      0 May  7 12:32 b.py~\n-rw-rw-r-- 1 tcloudost tcloudost  20532 Jun  3 11:08 closure and decorator.ipynb\n-rw-rw-r-- 1 tcloudost tcloudost     35 May  7 12:39 c.py\n-rw-rw-r-- 1 tcloudost tcloudost   7902 Jun  3 12:53 database.ipynb\n-rw-rw-r-- 1 tcloudost tcloudost     35 Jun  3 11:52 data.csv\n-rw-rw-r-- 1 tcloudost tcloudost  64476 May 27 12:59 datastructures.ipynb\n-rw-rw-r-- 1 tcloudost tcloudost    111 May  6 11:57 data.txt\n-rw-rw-r-- 1 tcloudost tcloudost  50950 May 14 12:08 datatypes.ipynb\n-rw-r--r-- 1 tcloudost tcloudost   8192 Jun  3 12:51 db1.db\n-rw-rw-r-- 1 tcloudost tcloudost     66 May 29 07:52 exp1.py\n-rw-rw-r-- 1 tcloudost tcloudost      0 Jun  3 12:06 f1.txt\n-rw-rw-r-- 1 tcloudost tcloudost    152 May  7 11:35 features\n-rw-rw-r-- 1 tcloudost tcloudost 112379 Jun  3 12:12 files.ipynb\n-rw-rw-r-- 1 tcloudost tcloudost   6501 May 28 12:09 functions2.ipynb\n-rw-rw-r-- 1 tcloudost tcloudost  15196 May 27 11:17 functions intro.ipynb\n-rw-rw-r-- 1 tcloudost tcloudost     34 May  9 08:08 installation.txt\n-rw-rw-r-- 1 tcloudost tcloudost  64882 May 28 12:00 lists.ipynb\n-rw-rw-r-- 1 tcloudost tcloudost    118 May 20 13:04 mails.txt\n-rw-rw-r-- 1 tcloudost tcloudost     99 May 20 13:00 mails.txt~\n-rw-rw-r-- 1 tcloudost tcloudost  20513 Jun  1 07:24 mem1.jpg\n-rw-rw-r-- 1 tcloudost tcloudost  20513 Jun  3 12:01 mem2.jpg\n-rw-rw-r-- 1 tcloudost tcloudost   6182 May 20 13:08 mem.ipynb\ndrwxrwxr-x 2 tcloudost tcloudost   4096 Jun  4 10:52 modules\n-rw-rw-r-- 1 tcloudost tcloudost     56 Jun  3 12:07 persons.txt\n-rw-rw-r-- 1 tcloudost tcloudost     36 May  6 12:02 phone_numbers.txt\n-rw-rw-r-- 1 tcloudost tcloudost   1910 Jun  4 11:25 postgres.ipynb\n-rw-rw-r-- 1 tcloudost tcloudost    922 May  7 12:44 practice.ipynb\n-rw-rw-r-- 1 tcloudost tcloudost    800 Jun  4 11:29 regular expressions.ipynb\n-rw-rw-r-- 1 tcloudost tcloudost   2004 May 28 10:29 string functions.ipynb\n-rw-rw-r-- 1 tcloudost tcloudost  28786 May 20 11:02 strings.ipynb\n-rw-rw-r-- 1 tcloudost tcloudost   7170 May  6 12:04 Untitled1.ipynb\n-rw-rw-r-- 1 tcloudost tcloudost  25128 May 28 12:41 Untitled2.ipynb\n-rw-rw-r-- 1 tcloudost tcloudost  14607 May  6 11:55 Untitled.ipynb\n'

In [4]:
check_output(['ls','-l','/home/tcloudost'])

'total 384\ndrwxrwxr-x 18 tcloudost tcloudost  4096 Apr  1 09:46 anaconda2\ndrwxrwxr-x  2 tcloudost tcloudost  4096 May  6 11:24 app\ndrwxrwxr-x  3 tcloudost tcloudost  4096 Jun  3 09:16 app1\ndrwxrwxr-x  3 tcloudost tcloudost  4096 Jun 25  2016 app1_name\ndrwxrwxr-x  3 tcloudost tcloudost  4096 Jun  3 09:09 app2\ndrwxrwxr-x  3 tcloudost tcloudost  4096 Jun  3 09:23 app3\ndrwxrwxr-x  2 tcloudost tcloudost  4096 Jun 25  2016 app_name\n-rw-rw-r--  1 tcloudost tcloudost     5 May  6 11:21 app.py\n-rw-rw-r--  1 tcloudost tcloudost    20 Mar  9 08:13 a.py\n-rw-rw-r--  1 tcloudost tcloudost    74 May 22  2016 a.py~\ndrwxrwxr-x  2 tcloudost tcloudost  4096 May 23  2016 batch\ndrwxr-xr-x  2 root      root       4096 Oct 15  2016 cgi-bin\n-rw-rw-r--  1 tcloudost tcloudost  1234 Oct 15  2016 cgi-bin.zip\n-rw-rw-r--  1 tcloudost tcloudost     0 Apr 16 20:31 content.txt\n-rw-rw-r--  1 tcloudost tcloudost   652 May 20  2016 course content.text\n-rw-rw-r--  1 tcloudost tcloudost   652 May 20  2016 course content.text~\n-rw-rw-r--  1 tcloudost tcloudost    98 May  6 11:54 data.txt\ndrwxr-xr-x  2 tcloudost tcloudost  4096 May 13 08:08 Desktop\ndrwxrwxr-x  2 tcloudost tcloudost  4096 Dec 31 09:32 dir1\ndrwxr-xr-x  5 tcloudost tcloudost  4096 May  9 08:30 Documents\ndrwxr-xr-x  7 tcloudost tcloudost  4096 Jun  3 09:43 Downloads\n-rw-r--r--  1 tcloudost tcloudost  8980 Mar 10  2016 examples.desktop\n-rw-rw-r--  1 tcloudost tcloudost    87 Jul 31  2016 file1.py\n-rw-rw-r--  1 tcloudost tcloudost   172 Jul 31  2016 file1.pyc\n-rw-rw-r--  1 tcloudost tcloudost  2302 Jun  3 09:00 file3.py\n-rw-rw-r--  1 tcloudost tcloudost  2302 Jun  3 09:01 file4.py\n-rw-rw-r--  1 tcloudost tcloudost    20 Jul  1  2016 first.py\n-rw-rw-r--  1 tcloudost tcloudost     0 Jul  1  2016 first.py~\ndrwxrwxr-x  2 tcloudost tcloudost  4096 Jul  9  2016 hom_custom\n-rw-rw-r--  1 tcloudost tcloudost     0 May 22 08:55 installation.txt\n-rw-rw-r--  1 tcloudost tcloudost   668 Nov 27  2016 Lab07.py\n-rw-rw-r--  1 tcloudost tcloudost 43291 Nov 13  2016 m1.jpg\n-rw-rw-r--  1 tcloudost tcloudost 11033 Mar  9 08:11 memory organization in python.ipynb\ndrwxrwxr-x  2 tcloudost tcloudost  4096 Jun  4 11:03 mod12\n-rw-rw-r--  1 tcloudost tcloudost   826 Mar 10 07:43 module1.ipynb\ndrwxr-xr-x  2 tcloudost tcloudost  4096 Mar 10  2016 Music\ndrwxrwxr-x  2 tcloudost tcloudost  4096 Oct  4  2016 mydear\n-rw-rw-r--  1 tcloudost tcloudost  1561 Jun 16  2016 nginx_signing.key\n-rw-rw-r--  1 tcloudost tcloudost   787 Mar 12 11:47 ownjson.py\ndrwxrwxr-x  2 tcloudost tcloudost  4096 Nov 26  2016 paramiko123\ndrwxrwxr-x  2 tcloudost tcloudost  4096 Nov 26  2016 path1\n-rw-rw-r--  1 tcloudost tcloudost  2302 Jun  3 09:00 personsinfo.csv\n-rw-rw-r--  1 tcloudost tcloudost   111 Nov 17  2016 personsinfo.csv~\n-rw-rw-r--  1 tcloudost tcloudost  1046 May 20 08:02 pgadmin.log\ndrwxr-xr-x  2 tcloudost tcloudost  4096 Aug 14  2016 Pictures\ndrwxr-xr-x  2 tcloudost tcloudost  4096 Mar 10  2016 Public\n-rw-rw-r--  1 tcloudost tcloudost 20247 Jul 30  2016 python2.ipynb\ndrwxrwxr-x 15 tcloudost tcloudost  4096 Jun  2 09:15 pythonexamples\n-rw-rw-r--  1 tcloudost tcloudost  3231 Jul  2  2016 python_modules\ndrwxrwxr-x  2 tcloudost tcloudost  4096 Apr 13  2016 python_softwares\n-rw-rw-r--  1 tcloudost tcloudost   261 Apr  5  2016 qw.html~\n-rw-rw-r--  1 tcloudost tcloudost  1469 Aug 31  2016 spyder_crash.log\ndrwxrwxr-x  2 tcloudost tcloudost  4096 Jan 27 08:21 ssh_folder1\ndrwxr-xr-x  2 tcloudost tcloudost  4096 Mar 10  2016 Templates\n-rw-rw-r--  1 tcloudost tcloudost  5937 Feb 11 11:12 Untitled10.ipynb\n-rw-rw-r--  1 tcloudost tcloudost  8582 Feb 28 08:17 Untitled11.ipynb\n-rw-rw-r--  1 tcloudost tcloudost  7866 Mar  8 07:33 Untitled12.ipynb\n-rw-rw-r--  1 tcloudost tcloudost    72 Mar 10 07:20 Untitled13.ipynb\n-rw-rw-r--  1 tcloudost tcloudost  5981 Mar 26 10:54 Untitled14.ipynb\n-rw-rw-r--  1 tcloudost tcloudost  2103 Aug 11  2016 Untitled1.ipynb\n-rw-rw-r--  1 tcloudost tcloudost   959 Aug 16  2016 Untitled2.ipynb\n-rw-rw-r--  1 tcloudost tcloudost  2796 Sep 14  2016 Untitled3.ipynb\n-rw-rw-r--  1 tcloudost tcloudost 15568 Sep 18  2016 Untitled4.ipynb\n-rw-rw-r--  1 tcloudost tcloudost    72 Oct 18  2016 Untitled5.ipynb\n-rw-rw-r--  1 tcloudost tcloudost  3809 Nov  5  2016 Untitled6.ipynb\n-rw-rw-r--  1 tcloudost tcloudost  5171 Nov  5  2016 Untitled7.ipynb\n-rw-rw-r--  1 tcloudost tcloudost  1891 Nov 27  2016 Untitled8.ipynb\n-rw-rw-r--  1 tcloudost tcloudost  6342 Dec 30 08:52 Untitled9.ipynb\n-rw-rw-r--  1 tcloudost tcloudost   398 Aug 16  2016 Untitled Document 1\n-rw-rw-r--  1 tcloudost tcloudost   582 May 24  2016 Untitled.ipynb\ndrwxr-xr-x  2 tcloudost tcloudost  4096 Mar 10  2016 Videos\n'

In [5]:
totalfiles = check_output(['ls','-l','/home/tcloudost'])

In [6]:
"mod12" in totalfiles

True

In [7]:
# [], {}, $ ^ . * + ?

In [8]:
import re

In [9]:
data = open('udata.txt').read()
re.findall('[abc]',data)

['a', 'a', 'a', 'c', 'a', 'a', 'a', 'c', 'c', 'a']

In [10]:
data = open('udata.txt').read()
re.findall('[abce]',data)

['a',
 'e',
 'e',
 'a',
 'a',
 'c',
 'a',
 'e',
 'e',
 'a',
 'a',
 'c',
 'e',
 'c',
 'a',
 'e']

In [11]:
data

'1,name1,email1@gmail.com,9876567897\nname2,email2@yahoo.co.in,9876567898,2\nEMAIL3@rediff.com,9876567899,3,name3'

In [12]:
data = open('udata.txt').read()
re.findall('[abce]',data,re.I)

['a',
 'e',
 'e',
 'a',
 'a',
 'c',
 'a',
 'e',
 'e',
 'a',
 'a',
 'c',
 'E',
 'A',
 'e',
 'c',
 'a',
 'e']

In [14]:
data1 = open("udata.txt").readlines()
for row in data1:
    print row

1,name1,email1@gmail.com,9876567897

name2,email2@yahoo.co.in,9876567898,2

EMAIL3@rediff.com,9876567899,3,name3

In [15]:
data1 = open("udata.txt").readlines()
for row in data1:
    print row.split()

['1,name1,email1@gmail.com,9876567897']
['name2,email2@yahoo.co.in,9876567898,2']
['EMAIL3@rediff.com,9876567899,3,name3']

In [16]:
data1 = open("udata.txt").readlines()
for row in data1:
    print row.split(',')

['1', 'name1', 'email1@gmail.com', '9876567897\n']
['name2', 'email2@yahoo.co.in', '9876567898', '2\n']
['EMAIL3@rediff.com', '9876567899', '3', 'name3']

In [17]:
data1 = open("udata.txt").readlines()
for row in data1:
    print row.split(',')[2]

email1@gmail.com
9876567898
3

In [18]:
data1 = open("udata.txt").readlines()
for row in data1:
    print row.split(',')[1]

name1
email2@yahoo.co.in
9876567899

In [19]:
data1 = open("udata.txt").readlines()
for row in data1:
    print row.split(',')[0]

1
name2
EMAIL3@rediff.com

In [20]:
data = open('udata.txt').read()
re.findall('[a-z][0-9]',data,re.I)

['e1', 'l1', 'e2', 'l2', 'L3', 'e3']

In [21]:
data = open('udata.txt').read()
re.findall('[0-9][0-9]',data,re.I)

['98',
 '76',
 '56',
 '78',
 '97',
 '98',
 '76',
 '56',
 '78',
 '98',
 '98',
 '76',
 '56',
 '78',
 '99']

In [22]:
data = open('udata.txt').read()
re.findall('[0-9][0-9][0-9]',data,re.I)

['987', '656', '789', '987', '656', '789', '987', '656', '789']

In [23]:
data = open('udata.txt').read()
re.findall('[0-9]{10}',data,re.I)

['9876567897', '9876567898', '9876567899']

In [24]:
data = open('udata.txt').read()
re.findall('[0-9]{5,10}',data,re.I)

['9876567897', '9876567898', '9876567899']

In [25]:
data = open('udata.txt').read()
re.findall('[0-9]{1,10}',data,re.I)

['1',
 '1',
 '1',
 '9876567897',
 '2',
 '2',
 '9876567898',
 '2',
 '3',
 '9876567899',
 '3',
 '3']

In [26]:
data = open('udata.txt').read()
re.findall('[0-9]+',data,re.I)

['1',
 '1',
 '1',
 '9876567897',
 '2',
 '2',
 '9876567898',
 '2',
 '3',
 '9876567899',
 '3',
 '3']

In [27]:
data = open('udata.txt').read()
re.findall('[0-9]*',data,re.I)

['1',
 '',
 '',
 '',
 '',
 '',
 '1',
 '',
 '',
 '',
 '',
 '',
 '',
 '1',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '9876567897',
 '',
 '',
 '',
 '',
 '',
 '2',
 '',
 '',
 '',
 '',
 '',
 '',
 '2',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '9876567898',
 '',
 '2',
 '',
 '',
 '',
 '',
 '',
 '',
 '3',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '9876567899',
 '',
 '3',
 '',
 '',
 '',
 '',
 '',
 '3',
 '']

In [28]:
data = open('udata.txt').read()
re.findall('[0-9]?',data,re.I)

['1',
 '',
 '',
 '',
 '',
 '',
 '1',
 '',
 '',
 '',
 '',
 '',
 '',
 '1',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '9',
 '8',
 '7',
 '6',
 '5',
 '6',
 '7',
 '8',
 '9',
 '7',
 '',
 '',
 '',
 '',
 '',
 '2',
 '',
 '',
 '',
 '',
 '',
 '',
 '2',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '9',
 '8',
 '7',
 '6',
 '5',
 '6',
 '7',
 '8',
 '9',
 '8',
 '',
 '2',
 '',
 '',
 '',
 '',
 '',
 '',
 '3',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '9',
 '8',
 '7',
 '6',
 '5',
 '6',
 '7',
 '8',
 '9',
 '9',
 '',
 '3',
 '',
 '',
 '',
 '',
 '',
 '3',
 '']

In [29]:
data = open('udata.txt').read()
re.findall('[^0-9]',data,re.I)

[',',
 'n',
 'a',
 'm',
 'e',
 ',',
 'e',
 'm',
 'a',
 'i',
 'l',
 '@',
 'g',
 'm',
 'a',
 'i',
 'l',
 '.',
 'c',
 'o',
 'm',
 ',',
 '\n',
 'n',
 'a',
 'm',
 'e',
 ',',
 'e',
 'm',
 'a',
 'i',
 'l',
 '@',
 'y',
 'a',
 'h',
 'o',
 'o',
 '.',
 'c',
 'o',
 '.',
 'i',
 'n',
 ',',
 ',',
 '\n',
 'E',
 'M',
 'A',
 'I',
 'L',
 '@',
 'r',
 'e',
 'd',
 'i',
 'f',
 'f',
 '.',
 'c',
 'o',
 'm',
 ',',
 ',',
 ',',
 'n',
 'a',
 'm',
 'e']

In [30]:
print data

1,name1,email1@gmail.com,9876567897
name2,email2@yahoo.co.in,9876567898,2
EMAIL3@rediff.com,9876567899,3,name3

In [31]:
data

'1,name1,email1@gmail.com,9876567897\nname2,email2@yahoo.co.in,9876567898,2\nEMAIL3@rediff.com,9876567899,3,name3'

In [32]:
data = open('udata.txt').read()
re.findall('^[0-9]',data,re.I)

['1']

In [33]:
data = open('udata.txt').read()
re.findall('^[0-9]{2}',data,re.I)

[]

In [34]:
data = open('udata.txt').read()
re.findall('[0-9]{2}$',data,re.I)

[]

In [35]:
data = open('udata.txt').read()
re.findall('[0-9]$',data,re.I)

['3']

In [36]:
data

'1,name1,email1@gmail.com,9876567897\nname2,email2@yahoo.co.in,9876567898,2\nEMAIL3@rediff.com,9876567899,3,name3'

In [37]:
print data

1,name1,email1@gmail.com,9876567897
name2,email2@yahoo.co.in,9876567898,2
EMAIL3@rediff.com,9876567899,3,name3

In [38]:
data = open('udata.txt').read()
re.findall('[0-9]$',data,re.I|re.M)

['7', '2', '3']

In [39]:
data = open('udata.txt').read()
re.findall('[0-9]$',data,re.I)

['3']

In [40]:
data

'1,name1,email1@gmail.com,9876567897\nname2,email2@yahoo.co.in,9876567898,2\nEMAIL3@rediff.com,9876567899,3,name3'

In [41]:
re.findall('.{3}',data)

['1,n',
 'ame',
 '1,e',
 'mai',
 'l1@',
 'gma',
 'il.',
 'com',
 ',98',
 '765',
 '678',
 'nam',
 'e2,',
 'ema',
 'il2',
 '@ya',
 'hoo',
 '.co',
 '.in',
 ',98',
 '765',
 '678',
 '98,',
 'EMA',
 'IL3',
 '@re',
 'dif',
 'f.c',
 'om,',
 '987',
 '656',
 '789',
 '9,3',
 ',na',
 'me3']

In [42]:
re.findall('.{3}',data,re.DOTALL)

['1,n',
 'ame',
 '1,e',
 'mai',
 'l1@',
 'gma',
 'il.',
 'com',
 ',98',
 '765',
 '678',
 '97\n',
 'nam',
 'e2,',
 'ema',
 'il2',
 '@ya',
 'hoo',
 '.co',
 '.in',
 ',98',
 '765',
 '678',
 '98,',
 '2\nE',
 'MAI',
 'L3@',
 'red',
 'iff',
 '.co',
 'm,9',
 '876',
 '567',
 '899',
 ',3,',
 'nam']

In [43]:
re.findall('.',data,re.DOTALL)

['1',
 ',',
 'n',
 'a',
 'm',
 'e',
 '1',
 ',',
 'e',
 'm',
 'a',
 'i',
 'l',
 '1',
 '@',
 'g',
 'm',
 'a',
 'i',
 'l',
 '.',
 'c',
 'o',
 'm',
 ',',
 '9',
 '8',
 '7',
 '6',
 '5',
 '6',
 '7',
 '8',
 '9',
 '7',
 '\n',
 'n',
 'a',
 'm',
 'e',
 '2',
 ',',
 'e',
 'm',
 'a',
 'i',
 'l',
 '2',
 '@',
 'y',
 'a',
 'h',
 'o',
 'o',
 '.',
 'c',
 'o',
 '.',
 'i',
 'n',
 ',',
 '9',
 '8',
 '7',
 '6',
 '5',
 '6',
 '7',
 '8',
 '9',
 '8',
 ',',
 '2',
 '\n',
 'E',
 'M',
 'A',
 'I',
 'L',
 '3',
 '@',
 'r',
 'e',
 'd',
 'i',
 'f',
 'f',
 '.',
 'c',
 'o',
 'm',
 ',',
 '9',
 '8',
 '7',
 '6',
 '5',
 '6',
 '7',
 '8',
 '9',
 '9',
 ',',
 '3',
 ',',
 'n',
 'a',
 'm',
 'e',
 '3']

In [44]:
re.findall('\.',data,re.DOTALL)

['.', '.', '.', '.']

In [46]:
re.findall('[^0-9a-z]',data,re.DOTALL|re.I)

[',',
 ',',
 '@',
 '.',
 ',',
 '\n',
 ',',
 '@',
 '.',
 '.',
 ',',
 ',',
 '\n',
 '@',
 '.',
 ',',
 ',',
 ',']

In [47]:
re.findall('[a-z]@[a-z].[a-z]',data)

[]

In [49]:
re.findall('[a-z0-9]+@',data)

['email1@', 'email2@', '3@']

In [50]:
re.findall('[a-z0-9]+@',data,re.I)

['email1@', 'email2@', 'EMAIL3@']

In [51]:
re.findall('[a-z0-9]+@[a-z]+',data,re.I)

['email1@gmail', 'email2@yahoo', 'EMAIL3@rediff']

In [52]:
re.findall('[a-z0-9]+@[a-z]+\.',data,re.I)

['email1@gmail.', 'email2@yahoo.', 'EMAIL3@rediff.']

In [53]:
re.findall('[a-z0-9]+@[a-z]+\.[com]{2,3}',data,re.I)

['email1@gmail.com', 'email2@yahoo.co', 'EMAIL3@rediff.com']

In [54]:
re.findall('[a-z0-9]+@[a-z]+\.[com]{2,3}\.*',data,re.I)

['email1@gmail.com', 'email2@yahoo.co.', 'EMAIL3@rediff.com']

In [55]:
re.findall('[a-z0-9]+@[a-z]+\.[com]{2,3}\.in*',data,re.I)

['email2@yahoo.co.in']

In [56]:
re.findall('[a-z0-9]+@[a-z]+\.[com]{2,3}[\.in]*',data,re.I)

['email1@gmail.com', 'email2@yahoo.co.in', 'EMAIL3@rediff.com']

In [57]:
data = open('udata.txt').read()
re.findall('[a-z0-9]+@[a-z]+\.[com]{2,3}[\.inus]*',data,re.I)

['email1@gmail.com',
 'email2@yahoo.co.in',
 'EMAIL3@rediff.com',
 'EMAIL3@rediff.co.us']

In [58]:
data = open('udata.txt').read()
re.findall('[a-z0-9]+@[a-z]+\.[com]{2,3}[\.a-z]*',data,re.I)

['email1@gmail.com',
 'email2@yahoo.co.in',
 'EMAIL3@rediff.com',
 'EMAIL3@rediff.co.us']

In [59]:
data = open('udata.txt').read()
re.findall('\w+@[a-z]+\.[com]{2,3}[\.a-z]*',data,re.I)

['email1@gmail.com',
 'email2@yahoo.co.in',
 'EMAIL3@rediff.com',
 'EMAIL3@rediff.co.us']

In [60]:
data

'1,name1,email1@gmail.com,9876567897\nname2,email2@yahoo.co.in,9876567898,2\nEMAIL3@rediff.com,9876567899,3,name3\nEMAIL3@rediff.co.us,9876567899,3,name3'

In [62]:
re.match('[0-9]',data)

In [63]:
re.match('[0-9]{2}',data)

In [64]:
re.match('[a-z]',data)

In [65]:
re.search('[a-z]',data)

In [68]:
email_reg = re.compile('\w+@[a-z]+\.[com]{2,3}[\.a-z]*')
email_reg.findall(data)

['email1@gmail.com',
 'email2@yahoo.co.in',
 'EMAIL3@rediff.com',
 'EMAIL3@rediff.co.us']